---
interface Props {
    url: string;
    name: string;
}

const { url, name } = Astro.props;
const id = url.split('/').at(-2);
const imgScr = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;;
---

<div class="rounder flex flex-col justify-center items-center bg-slate-700 p-4">
    <img src={imgScr} alt={name} />
    <span>{name}</span>
</div>